# Виртуальное окружение Python
venv/
.venv/
env/

# Скомпилированные файлы Python 
__pycache__/
*.py[cod]
*$py.class

# Файлы логов 
*.log

# Сгенерированные картинки QR-кодов 
*.png

# Настройки редактора VS Code
.vscode/
